<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Xam Ref App</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>CFBundleName</key>
	<string>Xam Ref App</string>
	<key>CFBundleShortVersionString</key>
	<string>1.00.00</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string></string>
				<string>-intunemam</string>
			</array>
			<key>NSAppTransportSecurity</key>
			<dict>
				<key>NSAllowsArbitraryLoads</key>
				<true/>
			</dict>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2019051101</string>
	<key>IntuneMAMSettings</key>
	<dict>
		<key>ADALAuthority</key>
		<string></string>
		<key>ADALCacheKeychainGroupOverride</key>
		<string>com.microsoft.adalcache</string>
		<key>ADALClientId</key>
		<string></string>
		<key>ADALRedirectUri</key>
		<string></string>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>msauth</string>
		<string>msauth-intunemam</string>
		<string>companyportal</string>
		<string>companyportal-intunemam</string>
		<string>https-intunemam</string>
		<string>http-intunemam</string>
		<string>microsoft-edge-https-intunemam</string>
		<string>microsoft-edge-http-intunemam</string>
		<string>ms-outlook-intunemam</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>11.0</string>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to the camera to take photos.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>This app needs access to Face ID for local authentication</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs access to use location for geolocation services.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app needs access to use location for geolocation services.</string>
	<key>NSLocationUsageDescription</key>
	<string>This app needs access to use location for geolocation services.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs access to use location for geolocation services.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs access to microphone.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app needs access to the photo gallery.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to photos.</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
</dict>
</plist>
